# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache & virtual environments
__pycache__/
*.py[cod]
*$py.class
.env
venv/
env/
.venv/

# Saved NumPy array files & temp outputs
*.npy
*.npz
*.csv
*.txt

# IDE / OS specific files
.vscode/
.idea/
.DS_Store
Thumbs.db
